<header>
    <div class="container-fluid bg-dark">
        <div class="container " style="max-width: 1100px;">
            <div class="navbar bg-dark text-left">
                <div class="col ">
                    <img src="usersLogo.png" class="img-fluid" alt="" width="50px" />
                    <a class="text-light px-2"> Usuarios</a>
                </div>
                <div class="col ">
                    <nav class=" nav bg-dark" data-bs-theme=" dark">
                        <ul class="nav ms-auto">

                            <li><a class="nav-link px-2 " routerLink="/home" routerLinkActive="active">Home</a></li>
                            <li><a class="nav-link px-2" routerLink="/newuser" routerLinkActive="active">Nuevo
                                    Usuario</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>


<main>
    <section class="container-fluid bg-dark">




    </section>



</main>
<!-- @for(user of usersArray; track user._id) {
<p>{{user._id}}: {{user.first_name}} {{user.last_name}} : {{user.email}}</p>

<hr>
<p>{{singleUser._id}}: {{singleUser.first_name}} {{singleUser.last_name}} : {{singleUser.email}}</p>
<hr>
<p>{{deletedUser._id}}: {{deletedUser.first_name}} {{deletedUser.last_name}} : {{deletedUser.email}}</p>
-->
<router-outlet />