.bg_color {
    background-color: var(--color-form-background);
    color: var(--color-form-text)
}

.bg_color_input {
    background-color: var(--color-form-inputs);
    color: black;
}

input.ng-invalid.ng-touched {

    border: 3px solid red;

}