<div class="card mx-auto bg-dark" style="width: 16rem;">
    <div class="d-flex justify-content-center align-items-center pt-2" style="height: 14rem;">
        <img src="{{user?.image}}" class=" w-75 rounded-circle" alt="">
    </div>
    <div class="card-body bg-dark text-light" style="height: 4rem;">
        <h6 class="card-title">{{user?.first_name}} {{user?.last_name}}</h6>
    </div>


    <div class="card-footer p-0" style="height: 4rem;">
        <div class="d-flex pt-1 gap-2 px-1">
            <a class="btt-iconic" [routerLink]="['/userview', user?._id]">
                <img src="search.svg" alt="Ver detalles">
                Ver detalles
            </a>
            <a class="btt-iconic" [routerLink]="['/updateuser', user?._id]">
                <img src="reload.svg" alt="Actualizar">
                Actualizar
            </a>
            <button class="btt-iconic" (click)="deleteuser(user?._id ?? '')">
                <img src="trash.svg" alt="Borrar">
                Borrar
            </button>
        </div>
    </div>
</div>